<link rel="stylesheet" href="css/time-line.css" />
<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
		</div>
		<div class="cd-timeline-content">
			<h4>郑州达富电子科技有限公司</h4>
			<p>任Java 软件工程师，外派至中国电信上海分公司</p>
			<div class="cd-read-more" ng-init="showProject1=false" ng-click="showProject1=!showProject1">展开详情</div>
			<span class="cd-date">2013-08</span>
			<div ng-show="showProject1" class="top1">
				<table>
					<caption>参与项目</caption>
					<tr>
						<td>cc衣橱(IOS app服务端)</td>
						<td>JEECG自动开发框架(Spring3,Hibernate3,Struts2,JSP,Jquery,Ajax等)</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK7,MariaDB,SVN等</td>
					</tr>
					<tr>
						<td>电信114机票销售平台</td>
						<td>Spring3,Hibernate3,Struts2,WebService,JSP,Jquery,Ajax等</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK6,Oracle9,PL/SQL,Maven,Junit4,SVN等</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
		</div>

		<div class="cd-timeline-content">
			<h4>上海菲耐德软件技术有限公司</h4>
			<p>任Java软件工程师，外派至众诚车险股份有限公司(广州)</p>
			<div class="cd-read-more" ng-init="showProject2=false" ng-click="showProject2=!showProject2">展开详情</div>
			<span class="cd-date">2014-04</span>
			<div ng-show="showProject2" class="top1">
				<table>
					<caption>参与项目</caption>
					<tr>
						<td>客户信息系统</td>
						<td>Spring4,Mybatis,Dorado5(前台富客户端框架)等</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK7,Oracle11,WebLogic,PL/SQL,SVN等</td>
					</tr>
					<tr>
						<td>微信商城</td>
						<td>Spring4,Mybatis,Servlet,JSP,Html5,CSS3,Ajax等</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK7,Oracle9,PL/SQL,Weblogic,SVN,Junit4等</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
		</div>

		<div class="cd-timeline-content">
			<h4>广州恒流网络技术有限公司</h4>
			<p>任Java软件工程师，外派至北京中国邮政集团公司</p>
			<div class="cd-read-more" ng-init="showProject3=false" ng-click="showProject3=!showProject3">展开详情</div>
			<span class="cd-date">2014-10</span>
			<div ng-show="showProject3" class="top1">
				<table>
					<caption>参与项目</caption>
					<tr>
						<td>中国集邮商城</td>
						<td>基于JavaShop二次开发</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK7,Oracle11,WebLogic,PL/SQL,SVN等</td>
					</tr>
					<tr>
						<td>中国邮政综合网厅</td>
						<td>Spring4,Mybatis,SpringMVC,Cas单点登陆,Jquery等</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>Eclipse,JDK7,Oracle11,WebLogic,PL/SQL,SVN等</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
		</div>
		<div class="cd-timeline-content">
			<h4>北京萌点软件技术有限公司</h4>
			<p>任高级Java软件工程师，承接开发美国Securenettech智能家居云服务平台</p>
			<div class="cd-read-more" ng-init="showProject4=false" ng-click="showProject4=!showProject4">展开详情</div>
			<span class="cd-date">2015-02</span>
			<div ng-show="showProject4" class="top1">
				<table>
					<caption>参与项目</caption>
					<tr>
						<td>Securenet Cloud Platfprm</td>
						<td>Spring4,SpringMvc,MySQL,</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>STS,JDK7,Groovy,MySQL,Gradle,Jetty,Git等</td>
					</tr>
					<tr>
						<td>Guru/Dome/Smartlink门户网站</td>
						<td>Angular1及其开源插件,Html5,Css3等</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>HBuilder,Chrome,Nodejs等</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>