<link rel="stylesheet" href="css/time-line.css" />
<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
		</div>
		<div class="cd-timeline-content">
			<h2>郑州达富电子科技有限公司</h2>
			<p>任Java 软件工程师，外派至中国电信上海分公司,重构114机票销售平台</p>
			<div class="cd-read-more" ng-init="showProject1=false" ng-click="showProject1=!showProject1">展开详情</div>
			<span class="cd-date">2013-8-28</span>
			<div ng-show="showProject1" class="top1">
				<table>
					<tr>
						<th>名称</th>
						<td>电信114机票销售平台</td>
					</tr>
					<tr>
						<td>起止时间</td>
						<td>2016年6月25日22:28:14</td>
					</tr>
					<tr>
						<td>开发环境</td>
						<td>22:28:27</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
		</div>

		<div class="cd-timeline-content">
			<h2>上海菲耐德软件技术有限公司</h2>
			<p>任Java软件工程师，外派至众诚车险股份有限公司(广州)，开发承保系统，微信公众平台</p>
			<div class="cd-read-more" ng-click="show2">展开详情</div>
			<span class="cd-date">2014-12-25</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
		</div>

		<div class="cd-timeline-content">
			<h2>广州恒流网路技术有限公司</h2>
			<p>任Java软件工程师，外派至北京中国邮政集团公司，整合开发综合网厅系统</p>
			<div class="cd-read-more" ng-click="show3">展开详情</div>
			<span class="cd-date">2014-12-20</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
		</div>

		<div class="cd-timeline-content">
			<h2>北京萌点软件有限公司-郑州分公司</h2>
			<p>任高级Java软件工程师，承接开发美国Securenettech智能家居云服务平台</p>
			<div class="cd-read-more" ng-click="show4">展开详情</div>
			<span class="cd-date">2014-12-14</span>
		</div>
	</div>
</section>